body {
    background: #fff;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

div#wrapper {
	margin: 13px 19px 0 19px;
	width: 995px;
	position: relative;
}

h1 {
	font-family: 'Cabin', sans-serif;
	font-size: 35px;
	color: #666;
}

h1 span {
	color: #dd8800;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

header {
	overflow: auto;
	margin-bottom: 20px;
}

header ul.nav-list {
	margin: 13px 262px 0 200px;
}

header form {
	position: absolute;
	right: 0;
	top: 9px;
}