/* utils */
.flow-right {
	float: right;
}

.flow-left {
	float: left;
}
/* utils */

/* ajaxed in content */
.ajaxed,
.ajaxed.pending {
	height: 19px;
	width: 100%;
	display: block;
	background: transparent url( '../images/pending.gif' ) center center no-repeat;
}

.ajaxed.complete,
.ajaxed.notify {
	background-image: none;
	height: auto;
	width: auto;
}

.ajaxed p.message {
	text-align: center;
	font-size: 12px;
	color: #666;
	display: none;
}

.ajaxed.notify p.message {
	display: block;
}
/* /ajaxed in content */

/* icons */
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: text-top;
	background-color: transparent;
	background-position: 0 0;
	background-image: url( '../images/sprite.png' );
}

.icon-search {
	background-position: 0 0;
}

.icon-home {
	background-position: 0px -16px;
}

.icon-sort {
	background-position: -16px -32px;
}
/* /icons */

/* forms */
input {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	color: #333;
	padding: 7px;
	background-color: transparent;
	border: none;
}

input:focus {
	outline: 0;
}

div.input-with-icon {
	background-color: #fafafa;
	border: solid 1px #c5c5c5;
	border-radius: 3px;
	width: 260px;
	height: 31px;
	position: relative;
	overflow: hidden;
}

div.input-with-icon i {
	position: absolute;
	left: 6px;
	top: 6px;
}

div.input-with-icon input {
	margin-left: 22px;
	width: 215px;
}
/* /forms */

/* a horizontal navigation list */
ul.nav-list li {
	display: inline;
	line-height: 15px;
	font-size: 12px;
	border-right: solid 1px #e4e4e4;
}

ul.nav-list li.no-separator {
	border: none;
}

ul.nav-list a {
	color: #808080;
	text-decoration: none;
	padding: 0 16px 0 10px;
}

ul.nav-list a:hover {
	color: #dd8800;
}
/* /a horizontal navigation list */

/* navigation */
nav {
	position: relative;
	overflow: auto;
	background: linear-gradient( to bottom,  #f6f6f6 0%, #eef0f0 100% );
	border: solid 1px #cbcad2;
	border-radius: 3px;
	box-shadow: 0 1px 5px -3px #999, inset 1px 1px #fff;
	margin-bottom: 20px;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	line-height: 39px;
	text-shadow: 0px 1px 1px rgba( 255, 255, 255, 1 );
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #8e989f;
	padding: 0 12px;
	border-right: solid 1px #cacad2;
	box-shadow: inset 1px 1px #fff
}

nav .flow-right li a {
	border-right: none;
	border-left: solid 1px #cacad2;
}

nav li a:hover {
	color: #dd8800;
}

nav li a:hover i {
	background-position: -16px -16px
}

nav li a.active {
	color: #767f85;
	background: linear-gradient( to bottom,  #d8d8d8 0%, #e9e9e9 100% );
	text-shadow: 0px -1px 1px rgba( 255, 255, 255, 1 );
	box-shadow: none;
}
/* /navigation */

/* data table */
.data-table {
	width: 100%;
  	font-size: 12px;
  	border: 1px solid #cbcad2;
  	border-collapse: separate;
  	border-radius: 3px;
  	margin-bottom: 21px;
  	display: none;
}

.data-table th,
.data-table td {
  	padding: 8px 10px;
  	line-height: 13px;
  	text-align: left;
  	vertical-align: top;
  	color: #767f85;
  	white-space: nowrap;
}

.data-table th {
	padding: 7px 10px 6px 10px;
  	font-weight: bold;
  	color: #8e989f;
  	text-shadow: 0px 1px 1px rgba( 255, 255, 255, 1 );
  	box-shadow: 0 1px 5px -3px #999, inset 0 1px #fff;
  	cursor: pointer;
  	outline: 0;
}

.data-table th.align-right,
.data-table td.align-right {
	text-align: right;
}

.data-table tr.over td {
	background-color: #d9e7f1;
}

.data-table td.over {
	background-color: #e9f1f7;
}

.data-table tr:nth-child( 2n ) {
	background-color: #f8f8f8;
}

.data-table thead tr {
	background: linear-gradient( to bottom,  #e9f1f7 0%, #d9e7f1 100% );
	border-bottom: 1px solid #cbcad2;
}

.data-table thead th {
  	vertical-align: bottom;
	border-bottom: 1px solid #cbcad2;
}

.data-table thead th i.icon-sort {
	margin-left: 5px;
}

.data-table thead th i.icon-sort.icon-left {
	display: none;
}

.data-table thead th i.icon-sort.icon-right {
	visibility: hidden;
}

.data-table thead th.sort i.icon-sort.icon-left {
	display: none;
}

.data-table thead th.sort i.icon-sort.icon-right {
	visibility: visible;
	display: inline-block;
}

.data-table thead th.align-right i.icon-sort.icon-left {
	visibility: hidden;
}

.data-table thead th.align-right i.icon-sort.icon-right {
	display: none;
}

.data-table thead th.align-right.sort i.icon-sort.icon-left {
	visibility: visible;
	display: inline-block;
}

.data-table thead th.align-right.sort i.icon-sort.icon-right {
	display: none;
}

.data-table thead th.asc i {
	background-position: 0px -32px;
}

.data-table thead th a {
	color: #767f85;
	display: inline-block;
	line-height: 17px;
	text-decoration: none;
}

.data-table thead th.sort a {
	color: #dd8800;
}
/* data table */